{% extends 'base.html.twig' %}

{% block body %}
 
    <nav class= "navbar navbar-dark bg-primary mb-3">
        <a href="easy_school/planning.html.twig" class="navbar-brand">Mon Planning</a>
    </nav>

    <h1> Emploi du temps 6eme 3 </h1>
    
    


{% endblock %}