{% extends 'base.html.twig' %}

{% block body %}
 
<table>
    <th>élèves</th>
        <tr>
            <td>thomas</td>
            <td>crespel</td>
            <td>30/07/1985</td>
            <td>Poissy</td>
            <td>Bazemont</td>
        </tr>
</table>
    


{% endblock %}